@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* print styles */
@media print {

  body {
    margin: 0;
    color: #000;
    background-color: #fff;
  }

}

/* custom font */
@font-face{
  font-family: Toporik;
  src: url('Toporiki_mod.ttf');
}

@font-face{
  font-family: Izhitsa;
  src: url('izhitsa-cyrillic.ttf');
}

@font-face{
  font-family: Irmologion;
  src: url('IrmUcs.ttf');
}

.App {
  text-align: center;
}

.App-logo {
  height: 3vmin;
  pointer-events: none;
}

.App-axe {
  height: 3vmin;
  pointer-events: none;
  padding-right: 5px;
  fill: #BFCCD6;
  fill-opacity:1;
}

.App-header {
  font-family: Izhitsa;
  background-color: #E1E8ED;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start; 
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #293742;
}

.App-link {
  color: white;
}


.printCard{
  
  /* https://www.papersizes.org/a-sizes-in-pixels.htm */
  width: 794px;
  height: 1123px;

  cursor: crosshair;
  font-size: 20px;
  margin: 15px 5px;
  padding: 25px;
}

.printCard > div{
  padding: 4px 3px;
  text-align: left;
}

.printCard > .noteline{

  font-size: 35px;
  font-family: Toporik;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: visible;
  height: 65px;
  
  font-smoothing: never;
  font-smooth: never;
  -moz-osx-font-smoothing: unset;
  -webkit-font-smoothing : none; 

  filter: contrast(1) contrast(1) grayscale(1);
  -webkit-transform: translateZ(0px);
  -webkit-backface-visibility:hidden;
}

.note_btn{  
  font-family: Toporik;  
}

.note_btn > .bp3-button-text{
  font-size: 30px;
  padding-top: 3px;
  overflow-x: visible;
  overflow-y: hidden; 
}

.glas_nm{
  font-family: Irmologion;
}
