@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.App {
  text-align: center;
}

.App-logo {
  height: 3vmin;
  pointer-events: none;
}

.App-axe {
  height: 3vmin;
  pointer-events: none;
  padding-right: 5px;
  fill: aqua;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #E1E8ED;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #293742;
}

.App-link {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom styles */

.bp3-button-group > .bp3-button > .bp3-button-text{
  color: #5C7080;
}

.printCard{
  width: 595px;
  height: 842px;
}

/* print styles */
@media print {

  body {
    margin: 0;
    color: #000;
    background-color: #fff;
  }

}

/* custom font */
@font-face{
  font-family: Toporik;
  src: url('Toporiki_mod.ttf');
}

.noteline{
  font-family: Toporik;
}

.note_btn{  
  font-family: Toporik;  
}

.note_btn > .bp3-button-text{
  font-size: 30px;
  /*color: #5C7080;*/
}